html, body {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
}

#logo {
    width: 4em;
    float: left;
}


/* horizontally next to logo by using in-line block */
nav ul li {
    display: inline-block;
    position: relative;
    list-style: none;
}

/* effects when hover menu item */
nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(103, 103, 228);
}

/* dropdown or submenu by using absolute so replaced relative to their parent items */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

nav ul li:hover ul {
    display: block;
}

/* style items within submenu */
nav ul li ul li {
    display: block;
    white-space: nowrap;
}

nav ul li ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

nav ul li ul li a:hover {
    background-color: #6a6e7669;
}

